ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #00BFFF;
  
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #9370DB;
}

.active {
  background-color: #FFA500;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: black 
}

  h1  {
  text-align: center;
  font-size: 50px;
  color: #00BFFF     
}  

p   {
  text-align: center;
  color: black
}

  p1 {
  background-color: #00BFFF ;
  margin: 0px ;
  width: 1300px;
  padding: 0px;
  text-align: center;
  color: black
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

